* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}


:root {
    --primary-color: ;
    --secondary-color: ;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000

}

/* header */
header {
    overflow: hidden;
}

header h2 {
    color: #fff;
}

header h3 {
    color: #fff;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #000;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    margin: 20px 30px;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: bold; 
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    transition: all .5s ease;

}

.navbar ul li a:hover {
    background-color: #fff;
    color: #000;
}

/* Hero Section */

.hero {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 900px;
    width: 100%;
}

.hero p {
    color: #fff;
}


section {
    width: 100%;
    position: absolute;
    padding: 8px, 25px;
    
}