* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #000
}

/* header */
header {
    padding: 20px 35px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h2 {
    color: #fff;
}

header h3 {
    color: #fff;
}
    

/* navbar */
.navbar {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: #000;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    margin: 20px 30px;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: bold; 
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    transition: all .5s ease;

}

.navbar ul li a:hover {
    background-color: #fff;
    color: #000;
}

/* Hero Section */

.hero {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: rgba (0, 0, 0, .5);
    height: 900px;
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba (0, 0, 0, .5);
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
    z-index: -1;
   
}

.hero main {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    
}

.hero span {
    color: #000
}

.hero p {
    font-style: italic;
    font-size: 30px;
}

/* About Me Section */

#about-me {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.intro {
    display: flex;
    flex-direction: row;
    padding: 10px 100px 10px 100px;
    background-color: #fff;
    
}

.intro p {
    display: flex;
    line-height: 1.7;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px ;
    text-align: left;
    
}

.section-title {
    font-size: 45px;
    text-align: center;
    padding: 0 0 0 20px;
    color: #fff;
}

.trae-pic { 
   display: flex;
}

.trae-pic img {
    height: 350px;
    padding: 20px;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;

}

.gallery {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    box-sizing: border-box;
}

.gallery img {

    width: 360px;
    height: 240px;
}

/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    color: #fff
}

#contact a {
    text-decoration: none;
    color: #fff;
}

#contact p {
    justify-content: center;
    text-align: center;
}

/* Footer */
footer {
    position: absolute;
    background: #000;
    color: #fff;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    display: inline;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
    font-size: 12px;
}